<section id="list">
    <a href="edit">Create Task</a>
    <table>
        <tr>
            <th>Description</th>
            <th>State</th>
            <th></th>
        </tr>
        <% if (tasks.length === 0) { %>
            <tr><td colspan="3">No tasks found</td></tr>
        <% } else { %>
            <% tasks.forEach(task => { %>
                <tr>
                    <td class="wide"><%= task.title %></td>
                    <td><%= task.state %></td>
                    <td>
                        <a href="edit?id=<%= encodeURIComponent(task.id) %>">edit</a> | <a href="delete?id=<%= encodeURIComponent(task.id) %>">delete</a>
                    </td>
                </tr>
            <% }) %>
        <% } %>
    </table>
</section>